{% load static %}
<div class="row clearfix" style="margin-top:2px;">
        <br>
        <br>
        <table style="padding:0px; margin:0px;  margin-left:15px; margin-right:15px;">
            <tbody><tr>
                <td style="width:900px; vertical-align:top;">
                    <h3>
                    	<a href="https://www.imaa.cnr.it">
							<img src="{% static 'icons/logo_cnr_imaa.png' %}" width="312" title="Logo Imaa" alt="Logo Imaa" style="margin-left:15px;">
                        </a>
					</h3>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
